.recommend-text-top {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto Slab", sans-serif;
  color: black;
  top: 0;
  position: absolute;
  padding: 5px;
  margin: 0;
  background: rgb(254, 209, 0);
  background: linear-gradient(132deg, rgba(254, 209, 0, 1) 70%, rgba(0, 0, 0, 0) 30%);
}
