.our-rec {
  min-height: 300px;
  margin-bottom: 10px;
}

.rec-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 auto;
}

.rec-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  max-height: 350px;
  width: 200px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  -webkit-box-shadow: 3px 0px 13px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 3px 0px 13px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 3px 0px 13px 0px rgba(0, 0, 0, 0.51);
  margin-bottom: 10px;
}

.rec-img-top {
  cursor: pointer;
  width: 200px;
  height: 120px;
}

.top3rules {
  font-size: 12px;
  margin: 0 auto;
  border-top: 1px solid lightgrey;
  padding: 5px 5px;
}

.top3-text {
  font-size: 14px;
  padding: 10px 5px 0px 5px;
  color: black;
}

.rec-bottombox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rec-botton {
  color: white;
  font-weight: 700;
  background-color: #005ca9 !important;
  font-size: 12px !important;
  height: 35px;
  min-width: 100%;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  text-align: center;

  border-radius: 9px !important;

  letter-spacing: 0.2em;
  font-style: normal;
  padding: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .rec-wrap {
    justify-content: center;
  }
}

@media (max-width: 930px) {
  .rec-wrap {
    justify-content: center;
  }
}

// Ipad

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .rec-wrap {
    justify-content: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .rec-wrap {
    justify-content: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .rec-wrap {
    justify-content: center;
  }
}
