.form-control {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 500px !important;
  border: 3px solid #fed100 !important;
  border-radius: 9px !important;
  padding: 10px !important;
  background: url("/images/searchicon.svg") no-repeat right;
}
