.bottom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &.container {
    padding: 0 !important;
  }
}

.info-bottom-box {
  padding: 0 10px;
  height: auto;
  font-family: "Manjari", sans-serif;
  margin-bottom: 5px;
  padding-top: 20px;
  text-align: left;
  border-bottom: 1px solid lightgrey;
  h3 {
    padding-top: 10px;
  }
}

.info-bottom-box-img {
  padding: 0 10px;
  height: auto;
  font-family: "Manjari", sans-serif;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 20px;
  text-align: left;
  border-bottom: 1px solid lightgrey;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 830px) {
      flex-direction: column;
    }
    p {
      flex: 1;
    }

    img {
      flex: 1;
      height: 200px;
      @media (max-width: 830px) {
        display: none;
      }
    }
  }
}

.faktura-info {
  flex-direction: column;
  flex-wrap: wrap;
}

.example {
  font-style: oblique;
  font-weight: bold;
}

.q-box {
  width: 100%;
  padding-bottom: 5px;
}

.q1logo {
  font-size: 16px;
  padding-right: 5px;
}
.qlogo {
  padding-right: 5px;
}
.single-q {
  cursor: pointer;
  padding: 8px;
  margin: 10px;
}

.head-q {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fed100;
  width: 100%;
  padding: 20px;
}
.question-wrap {
  margin-top: 30px !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #214467;
  h3 {
    font-size: 16px;
    margin: 0 !important;
  }

  .question-head {
    background-color: white;
    margin-bottom: 1rem;
    color: black;
    outline: none;
    &:hover {
      background-color: #607d8b !important;
    }
  }
}

.msg {
  border-top: 1px solid grey;
  padding: 5px;
}
