.wrap-top5 {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba($color: #ffffff, $alpha: 0.8);

  h1 {
    text-align: center;
    padding: 50px;
  }

  small {
    font-style: italic;
  }
}
