.collapse {
  padding-right: 0px;
  margin-left: 0px;
}

.question-head {
  background-color: white;
  margin-bottom: 1rem;
  color: black;
  outline: none;
  &:hover {
    background-color: #607d8b !important;
  }
}

.esport-info-box {
  display: flex;
  flex-direction: row;

  div {
    flex-direction: column;
  }
  img {
    flex: 1;
    height: 200px;
    @media (max-width: 830px) {
      display: none;
    }
  }
}
