.myMain {
  height: 600px;
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  @media (max-width: 830px) {
    background: #fff;
    background-attachment: none;
  }
}

.adsBanner {
  height: 20px;
}

main {
  flex: 1;
}
