.esport-wrap {
  &.container {
    padding: 0 !important;
  }
}

.welcome-box-esport {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.4);
}
.welcome-icon-right {
  width: 200px;
}

.welcome-text-esport {
  line-height: 1.5;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}

.alert {
  margin-bottom: 0;
}
