.socials-box {
  padding: 20px;
}

.social-icons {
  margin-right: 20px;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
}

.social-icons:hover {
  transform: scale(1.2);
}
