.our-rec-random {
  background-color: white;
  border-radius: 9px;
  min-height: 300px;
  margin-bottom: 10px;
  margin-top: 50px;
  h2 {
    text-align: center;
    padding: 20px 0;
  }

  .rec-wrap {
    justify-content: space-around;
  }
}
